@use 'globals';


body {
    font-family: 'Poppins', Verdana;
    background-color: var(--salmon-color);
    background-image: url('../images/bg-intro-mobile.png');
    line-height: 1.5;
    padding: 3.125rem 1.25rem;

  }
  
  h1 {
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--white-text-color);
    text-align: center;
    margin-top: 1.25em;
  }
  
  .description {
    color: var(--white-text-color);
    text-align: center;
    margin-top: 1.25em;
  }
  
  .price-box {
    background-color: var(--price-box-color);
    border-radius: 10px;
    box-shadow: 0px 8px hsla(248, 32%, 49%, 0.3);
    text-align: center;
    padding: 1.25em 5em; 
    margin-top: 4.375rem;
  }
  
  .price-box__text {
    color: var(--white-text-color);
    text-align: center;
  }
  
  form {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 8px hsla(0, 40%, 54%, 0.8);
    padding: 0rem 1.25rem 1.25rem 1.25rem;
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form__container {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  
  .form__input-box {
    font-weight: 600;
    
    margin-top: 1.25rem;
  }

  .form__input {
    width: 100%;
    max-width: 100%;
    padding: 0.938rem;
    border: 1px solid hsla(249, 10%, 26%, 0.3);
    border-radius: 5px;
  }

  .form__error {
    font-size: 0.75rem;
    color: var(--salmon-color);
  }
  
  .form__submit-btn {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: var(--button-color);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px hsla(154, 50%, 45%, 0.8);
    margin-top: 1.25rem;
    padding: 0.938em 0em;
    width: 100%;
    max-width: 100%;
  }
  
  .form__terms {
    font-size: 0.75rem;
    text-align: center;
    color: var(--terms-and-service-color);
    margin-top: 0.938rem;
    padding: 0em 1.25em;
  }
  
  .form__terms--link {
    text-decoration: none;
    font-weight: 700;
    color: var(--salmon-color);
  }
  
  .attribution { 
    font-size: 0.688rem; 
    text-align: center; 
    margin-top: 1.25rem;
  }
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
  
  /* states */
  
  .form__submit-btn:hover {
    cursor: pointer;
    background-color: hsl(154, 59%, 70%);
  }
  
  .form__input:invalid {
    border-color: var(--salmon-color);
  }

  /*
  .form__input:invalid::after {
    content: '!';
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  or
  create a span class and hide it initially?
*/

  /* media queries */
  
/* looks weird after 1440px */


  @media (min-width: 62.5em) {
  
    body {
     background-image: url(../images/bg-intro-desktop.png);
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(12, 1fr);
     gap: 10px;
    }
  
    h1 {
      font-size: 2.813rem;
      font-weight: 700;
      text-align: left;
      margin-top: 0; 
      grid-row: 6 / 7;
      grid-column: 2 / 7;
    }

    .description {
        text-align: left;
        margin-top: 0; 
        grid-row: 7 / 8;
        grid-column: 2 / 7;
    }

    .price-box {
        margin-top: 0; 
        grid-row: 2 / 4;
        grid-column: 8 / 12;
    }

    form {
        grid-row: 4 / 11;
        grid-column: 8 / 12;
    }

    footer {
        grid-row: 11 / 12;
        grid-column: 8 / 12;
    }
  }
  