:root {
    --salmon-color: hsl(0, 100%, 74%);
    --placeholder-color: hsl(249, 10%, 26%);
    --white-text-color: hsl(0, 0%, 100%);
    --button-color:  hsl(154, 59%, 51%);
    --price-box-color: hsl(248, 32%, 49%);
    --terms-and-service-color: hsl(246, 25%, 77%);
    }