:root {
  --salmon-color: hsl(0, 100%, 74%);
  --placeholder-color: hsl(249, 10%, 26%);
  --white-text-color: hsl(0, 0%, 100%);
  --button-color: hsl(154, 59%, 51%);
  --price-box-color: hsl(248, 32%, 49%);
  --terms-and-service-color: hsl(246, 25%, 77%);
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"), url("../fonts/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff"), url("../fonts/poppins-v20-latin-600.ttf") format("truetype"), url("../fonts/poppins-v20-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"), url("../fonts/poppins-v20-latin-700.ttf") format("truetype"), url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

body {
  font-family: "Poppins", Verdana;
  background-color: var(--salmon-color);
  background-image: url("../images/bg-intro-mobile.png");
  line-height: 1.5;
  padding: 3.125rem 1.25rem;
}

.pitch {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup {
  margin-top: 4.375rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.625rem;
  font-weight: 600;
  color: var(--white-text-color);
  text-align: center;
  width: 100%;
}

.description {
  color: var(--white-text-color);
  text-align: center;
  width: 100%;
  margin-top: 1.25em;
}

.price-box {
  background-color: var(--price-box-color);
  border-radius: 10px;
  box-shadow: 0px 8px hsla(248deg, 32%, 49%, 0.3);
  text-align: center;
  padding: 1.25em 5em;
  width: 100%;
  max-width: 100%;
}

.price-box__text {
  color: var(--white-text-color);
  text-align: center;
}

form {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 8px hsla(0deg, 40%, 54%, 0.8);
  padding: 0rem 1.25rem 1.25rem 1.25rem;
  margin-top: 1.875rem;
  max-width: 100%;
  height: auto;
}

.form__container {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.form__input-box {
  font-weight: 600;
  margin-top: 1.25rem;
  position: relative; /* for the icon */
}

.form__input {
  width: 100%;
  max-width: 100%;
  padding: 0.938rem;
  border: 1px solid hsla(249deg, 10%, 26%, 0.3);
  border-radius: 5px;
}

.form__submit-btn {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--button-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px hsla(154deg, 50%, 45%, 0.8);
  margin-top: 1.25rem;
  padding: 0.938em 0em;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.form__terms {
  font-size: 0.75rem;
  text-align: center;
  color: var(--terms-and-service-color);
  margin-top: 0.938rem;
  padding: 0em 1.25em;
}

.form__terms--link {
  text-decoration: none;
  font-weight: 700;
  color: var(--salmon-color);
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
  margin-top: 1.25rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/* error styles */
.form__error {
  font-size: 0.75rem;
  color: var(--salmon-color);
  max-width: 100%;
  text-align: right;
  padding-top: 10px;
  position: relative;
}

.form__err-icon {
  content: url("../images/icon-error.svg");
  position: absolute;
  right: 1.25rem;
  top: 0.938rem;
  visibility: hidden;
}

/* states */
.form__submit-btn:hover {
  cursor: pointer;
  background-color: hsl(154deg, 59%, 70%);
}

/* media queries */
@media (min-width: 68.75em) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pitch {
    max-width: 50%;
    padding: 1.875rem;
  }
  h1 {
    font-size: 2.25rem;
    font-weight: 700;
  }
  h1, .description {
    text-align: left;
    max-width: 80%;
  }
  .signup {
    max-width: 50%;
    padding: 1.875rem;
  }
  form {
    padding: 1.25rem 2.5rem 2.5rem 2.5rem;
  }
}/*# sourceMappingURL=styles.css.map */