/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

  /* poppins-500 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
  }

  /* poppins-600 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }

  /* poppins-700 - latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
  }


/* CSS reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


/* colors */

:root {
--salmon-color: hsl(0, 100%, 74%);
--placeholder-color: hsl(249, 10%, 26%) ;
--white-text-color: hsl(0, 0%, 100%);
--button-color:  hsl(154, 59%, 51%);
--price-box-color: hsl(248, 32%, 49%);
--terms-and-service-color: hsl(246, 25%, 77%);
}


/* styles */

body {
  font-family: 'Poppins', Verdana;
  background-color: var(--salmon-color);
  background-image: url('../images/bg-intro-mobile.png');
  line-height: 1.5;
  padding: 50px 20px;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--white-text-color);
  text-align: center;
}

.description {
  font-size: 0.875rem;
  color: var(--white-text-color);
  text-align: center;
}

.price-box {
  background-color: var(--price-box-color);
  border-radius: 10px;
  box-shadow: 0px 8px hsla(248, 32%, 49%, 0.3);
  text-align: center;
  padding: 20px 80px;
}

.price-box__text {
  color: var(--white-text-color);
  text-align: center;
}

form {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container {
  list-style-type: none;

}

.form__input-box {
  font-weight: 600;
  color: var(--placeholder-color);
}

.form__submit-btn {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--button-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px hsla(154, 58%, 36%, 0.8);
  padding: 20px 50px;
  width: 100%;
  max-width: 100%;
}

.form__terms {
  font-size: 0.75rem;
  text-align: center;
  color: var(--terms-and-service-color);
}

.form__terms--link {
  text-decoration: none;
  font-weight: 700;
  color: var(--salmon-color);
}

.attribution { 
  font-size: 0.688rem; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* states */

.form__submit-btn:hover {
  cursor: pointer;
  background-color: hsl(154, 59%, 70%);
}


/* media queries */

@media (min-width: 56.25em) {

  body {
   background-image: url(../images/bg-intro-desktop.png);
  }

  h1 {
    font-size: 3.125rem;
  }
}
